<style>
  
    .btn {
    border: red;
    background-color: rgb(236, 250, 40);
    padding: 12px 24px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
  }
  
  .content1{
    text-align: center;
  }
  
  .border2{
    padding: 10px;
  }
  
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  
  .btn:hover {background: #eee;}
  
  .SEARCH {color: rgb(48, 5, 202);}
  .RESET {color: dodgerblue;}
  .ADD NEW {color: orange;}
  
  
  </style>
  
  
  <div class="content1" role="main">
    <br>
    <br> <br> <br> <br> <br>
    <label for="firstname"> ADD OR MODIFY DEPARTMENT</label>
    <br><br>
  </div>
    <label for="fname">Department Code  </label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Department Name  </label>
    <input type="text" id="lname" name="lname"><br><br>
  
  
         <button class="btn success">SAVE</button>
         <button class="btn info">RESET</button>
         <button class="btn warning">CANCEL</button>